os:
  - linux
services:
  - docker
language: node_js
node_js:
  - "4.1.2"
jdk:
  - oraclejdk8
env:
  global:
  - JHIPSTER_MVN_DEP=2
  - JHIPSTER_TRAVIS=$TRAVIS_BUILD_DIR/travis
  - JHIPSTER_INSTALL=$JHIPSTER_TRAVIS/install
  - JHIPSTER_SAMPLES=$JHIPSTER_TRAVIS/samples
  - JHIPSTER_SCRIPTS=$JHIPSTER_TRAVIS/scripts
  matrix:
  - JHIPSTER=app-mysql
  - JHIPSTER=app-psql-es
  - JHIPSTER=app-mongodb
  - JHIPSTER=app-cassandra
  - JHIPSTER=app-gradle
before_install:
  - sudo service docker restart
  - sudo /etc/init.d/postgresql stop
install:
  - $JHIPSTER_INSTALL/01-install-docker-compose.sh
  - $JHIPSTER_INSTALL/02-docker-pull.sh
  - $JHIPSTER_INSTALL/03-install-jhipster-stack.sh
  - $JHIPSTER_INSTALL/04-downloadDep.sh
  #--------------------------------------------------
  # check version
  #--------------------------------------------------
  - java -version
  - git --version
  - yo --version
  - mvn -v
  - node -v
  - npm -v
  - bower -v
  - grunt --version
  - gulp -v
  - grunt --version
  - docker version
  - docker-compose version
script:
  - $JHIPSTER_SCRIPTS/01-generate-project.sh
  - $JHIPSTER_SCRIPTS/02-generate-entities.sh
  - $JHIPSTER_SCRIPTS/03-docker-compose.sh
  - $JHIPSTER_SCRIPTS/04-run-dev-profile.sh
  - $JHIPSTER_SCRIPTS/05-run-prod-profile.sh
