sudo: required
services:
  - docker
before_install:
  - sudo service docker restart ; sleep 10
  - jdk_switcher use oraclejdk8
install:
  - npm install -g yo
  - npm install -g bower
  - npm install -g grunt-cli
  - npm install -g gulp
  - npm install -g generator-jhipster@2.21.0
script:
  - java -version
  - git --version
  - yo --version
  - mvn -v
  - node -v
  - npm -v
  - bower -v
  - grunt --version
  - gulp -v
  - grunt --version
  - echo "hello jhipster !"
  - cd sample-app && yo jhipster --force --no-insight
  - ls -l
  - mvn spring-boot:run &
  - sleep 60
  - ps ux
  - ps ux | grep spring-boot
  - curl --retry 10 --retry-delay 5 -I http://localhost:8080/ | grep "HTTP/1.1 200 OK"
  - fuser -k 8080/tcp
