sudo: required
services:
  - docker
before_install:
  - sudo service docker restart ; sleep 10
  - jdk_switcher use oraclejdk8
install:
  - docker version
  # - docker build -t pgr/jhipster .
  # - docker run -d -u jhipster -w /home/jhipster/sample-app/ pgr/jhipster yo jhipster --inforce --no-insight ; sleep 120
script:
  - pwd
  - echo `pwd`
  - cd `pwd`/sample-app/
  - ls -l sample-app/
