os:
  - linux
sudo: required
services:
  - docker
language: java
before_install:
  - sudo service docker restart ; sleep 10
  - sudo /etc/init.d/postgresql stop
  - jdk_switcher use oraclejdk8
install:
  - $TRAVIS_BUILD_DIR/install/01-install-docker-compose.sh
  - $TRAVIS_BUILD_DIR/install/02-docker-pull.sh
  - $TRAVIS_BUILD_DIR/install/03-install-jhipster-stack.sh
  #--------------------------------------------------
  # use a snapshot version of jhispter
  #--------------------------------------------------
  - git clone -b spring_boot_1_3 https://github.com/jhipster/generator-jhipster.git
  - cd $TRAVIS_BUILD_DIR/generator-jhipster
  - npm link
  #--------------------------------------------------
  # clone and get dependency offline
  #--------------------------------------------------
  - cd $TRAVIS_BUILD_DIR/
  - git clone https://github.com/jhipster/jhipster-sample-app.git
  - cd $TRAVIS_BUILD_DIR/jhipster-sample-app/ && mvn dependency:go-offline
  #--------------------------------------------------
  # check version
  #--------------------------------------------------
  - java -version
  - git --version
  - yo --version
  - mvn -v
  - node -v
  - npm -v
  - bower -v
  - grunt --version
  - gulp -v
  - grunt --version
  - docker version
  - docker-compose version
env:
  matrix:
  - JHIPSTER=samples/sample-app
  - JHIPSTER=samples/sample-app-postgresql
  - JHIPSTER=samples/sample-app-mongodb
  - JHIPSTER=samples/sample-app-cassandra
  - JHIPSTER=samples/sample-app-elasticsearch
  - JHIPSTER=samples/sample-app-gradle
jdk:
  - oraclejdk8
script:
  - $TRAVIS_BUILD_DIR/scripts/01-generate-project.sh
  - $TRAVIS_BUILD_DIR/scripts/02-generate-entities.sh
  - ls -al $TRAVIS_BUILD_DIR/$JHIPSTER
  - $TRAVIS_BUILD_DIR/scripts/03-docker-compose.sh
  - docker ps -a
  - $TRAVIS_BUILD_DIR/scripts/04-run-dev-profile.sh
  - $TRAVIS_BUILD_DIR/scripts/05-run-prod-profile.sh
